    body {
            background-color: rgb(0, 0, 0);
        }

        #container {

            text-align: center;
            align-items: center;


        }

        #pa {
            font-size: 100px;
            color: white;
        }

        #time {

            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 90px;
            color: white;



        }
